In [62]:
import pandas
import sklearn.ensemble
import sklearn.feature_selection

In [50]:
path = 'C:\\RScripts\\'#'C:\\Users\\Alexey.Osipov\\Downloads\\'
tabHot = pandas.read_csv(path + 'HotStartData.csv', sep = ';')

In [51]:
tabHot.head()

,Duration,CreditHistory,Employment,GenderInfo,Guarantors,Age,NumberOfCreditsInBank,JobInfo,NumberOfPeopleBeingLiable,Class,Val,Telephone,Foreign
0,0.333333,-2,4,A93,0,67,2,2,1,0,-0.933434,1,1
1,2.666667,1,2,A92,0,22,1,2,1,1,1.162464,0,1
2,0.666667,-2,3,A93,0,49,1,1,2,0,-0.181468,0,1
3,2.333333,1,3,A93,2,45,1,2,2,0,1.524386,0,1
4,1.333333,-1,2,A93,0,53,2,2,2,1,0.904290,0,1

In [52]:
tabHot = pandas.concat([tabHot.drop('GenderInfo', axis=1), pandas.get_dummies(tabHot['GenderInfo'])], axis=1)

In [53]:
yHot = tabHot.Class
XHot = tabHot.drop('Class', axis=1)

In [54]:
XHot.head()

,Duration,CreditHistory,Employment,Guarantors,Age,NumberOfCreditsInBank,JobInfo,NumberOfPeopleBeingLiable,Val,Telephone,Foreign,A91,A92,A93,A94
0,0.333333,-2,4,0,67,2,2,1,-0.933434,1,1,0,0,1,0
1,2.666667,1,2,0,22,1,2,1,1.162464,0,1,0,1,0,0
2,0.666667,-2,3,0,49,1,1,2,-0.181468,0,1,0,0,1,0
3,2.333333,1,3,2,45,1,2,2,1.524386,0,1,0,0,1,0
4,1.333333,-1,2,0,53,2,2,2,0.904290,0,1,0,0,1,0

In [55]:
modelRF = sklearn.ensemble.RandomForestClassifier(random_state=239)

In [56]:
modelRF.fit(XHot, yHot)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=239, verbose=0, warm_start=False)

In [57]:
modelRF.feature_importances_

array([ 0.15707319,  0.0884884 ,  0.0752017 ,  0.03009586,  0.19300725,
        0.04338827,  0.05102189,  0.02770761,  0.24617713,  0.03310541,
        0.00816755,  0.00840536,  0.01684192,  0.01257964,  0.00873879])

In [58]:
XHot.columns.values

array(['Duration', 'CreditHistory', 'Employment', 'Guarantors', 'Age',
       'NumberOfCreditsInBank', 'JobInfo', 'NumberOfPeopleBeingLiable',
       'Val', 'Telephone', 'Foreign', 'A91', 'A92', 'A93', 'A94'], dtype=object)

In [59]:
dat = pandas.DataFrame([modelRF.feature_importances_, XHot.columns.values]).transpose()

In [60]:
dat[1][8] = 'Price'

In [61]:
dat.set_index(0).sort_index(ascending = False)

                                  1
0
0.246177                      Price
0.193007                        Age
0.157073                   Duration
0.088488              CreditHistory
0.075202                 Employment
0.051022                    JobInfo
0.043388      NumberOfCreditsInBank
0.033105                  Telephone
0.030096                 Guarantors
0.027708  NumberOfPeopleBeingLiable
0.016842                        A92
0.012580                        A93
0.008739                        A94
0.008405                        A91
0.008168                    Foreign

In [69]:
sklearn.feature_selection.SelectKBest(k='all').fit_transform(XHot, yHot)[1]

array([  2.66666667,   1.        ,   2.        ,   0.        ,
        22.        ,   1.        ,   2.        ,   1.        ,
         1.16246424,   0.        ,   1.        ,   0.        ,
         1.        ,   0.        ,   0.        ])